{% extends 'base.html.twig' %}

{% block title %}Edit NewsImage{% endblock %}

{% block body %}
    <h1>Edit NewsImage</h1>

    {{ include('admin/news_image/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_news_image_index') }}">back to list</a>

    {{ include('admin/news_image/_delete_form.html.twig') }}
{% endblock %}
