{% extends 'base.html.twig' %}

{% block title %}Criar nova imagem da noticia{% endblock %}

{% block body %}
    <h1>{{ news.date|date('d/m/Y') }} - {{ news.title }}</h1>
    <h4>Criar nova imagem da notícia</h4>

    {{ include('admin/news_image/_form.html.twig') }}

    <a class="btn ms-3" href="{{ path('app_admin_news_image_index', {'newsId': news.id}) }}">Voltar</a>
{% endblock %}
