{% extends 'base.html.twig' %}

{% block title %}Editar depoimento{% endblock %}

{% block body %}
    <h1>Editar depoimento</h1>

    {{ include('admin/testimony/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('admin/testimony/_delete_form.html.twig') }}

    <a class="btn ms-3" href="{{ path('app_admin_testimony_index') }}">Voltar</a>
{% endblock %}
