{% extends 'base.html.twig' %}

{% block title %}Editar tags globais{% endblock %}

{% block body %}
    <h1>Editar tags globais</h1>

    {{ include('admin/global_tags/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
