{{ form_start(form) }}
    <div class="mb-3">
        <label for="{{ form.url.vars.id }}" class="form-label">URL</label>
        {{ form_widget(form.url, {'attr':{'class':'form-control'}}) }}
    </div>

    <button class="btn btn-info float-start text-white">Salvar</button>
{{ form_end(form) }}
