{% extends 'base.html.twig' %}

{% block title %}Editar banner{% endblock %}

{% block body %}
    <h1>Editar banner</h1>

    {{ include('admin/banner/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('admin/banner/_delete_form.html.twig') }}

    <a class="btn ms-3"  href="{{ path('app_admin_banner_index') }}">Voltar</a>
{% endblock %}
