{% extends 'base.html.twig' %}

{% block title %}Editar categoria de notícia{% endblock %}

{% block body %}
    <h1>Editar categoria de notícia</h1>

    {{ include('admin/news_category/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('admin/news_category/_delete_form.html.twig') }}

    <a class="btn ms-3" href="{{ path('app_admin_news_category_index') }}">Voltar</a>
{% endblock %}
