{% extends 'base.html.twig' %}

{% block title %}Editar SEO das páginas{% endblock %}

{% block body %}
    <h1>Editar SEO das páginas</h1>

    {{ include('admin/page_seo/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn ms-3" href="{{ path('app_admin_page_seo_index') }}">Voltar</a>

{% endblock %}
