{% extends 'base.html.twig' %}

{% block title %}Criar novo financiamento{% endblock %}

{% block body %}
    <h1>Criar novo financiamento</h1>

    {{ include('admin/financing/_form.html.twig') }}

    <a class="btn" href="{{ path('app_admin_financing_index') }}">Voltar</a>
{% endblock %}
