<form method="post" action="{{ path('app_admin_product_image_delete', {'id': product_image.id, 'productId': product.id}) }}" onsubmit="return confirm('Tem certeza que quer deletar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product_image.id) }}">
    <button class="btn btn-danger float-start ms-3 text-white">Deletar</button>
</form>
