{% extends 'base.html.twig' %}

{% block title %}Criar nova imagem do produto{% endblock %}

{% block body %}
    <h1>{{ product.title }}</h1>
    <h4>Criar nova imagem do produto</h4>

    {{ include('admin/product_image/_form.html.twig') }}

    <a class="btn ms-3" href="{{ path('app_admin_product_image_index', {'productId': product.id}) }}">Voltar</a>
{% endblock %}
