<form method="post" action="{{ path('app_admin_service_delete', {'id': service.id}) }}" onsubmit="return confirm('Tem certeza que quer deletar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <button class="btn btn-danger float-start ms-3 text-white">Deletar</button>
</form>
