{% extends 'base.html.twig' %}

{% block title %}Editar serviço{% endblock %}

{% block body %}
    <h1>Editar serviço</h1>

    {{ include('admin/service/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('admin/service/_delete_form.html.twig') }}

    <a class="btn ms-3" href="{{ path('app_admin_service_index') }}">Voltar</a>
{% endblock %}
