{% extends 'base.html.twig' %}

{% block title %}Editar valor da propriedade do produto{% endblock %}

{% block body %}
    <h1>{{ product.title }}</h1>
    <h4>Editar valor da propriedade do produto</h4>

    {{ include('admin/product_property_value/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('admin/product_property_value/_delete_form.html.twig') }}

    <a class="btn ms-3" href="{{ path('app_admin_product_property_value_index', {'productId': product.id}) }}">Voltar</a>
{% endblock %}
